node_modules/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store
storybook/storybook-static/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Storybook specific
storybook/.expo/
storybook/.expo-shared/
.expo-shared/assets.json

# Build output
lib/