name: Build and Publish Storybook to GitHub Pages

on:
  push:
    branches:
      - "main"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install root dependencies
        run: npm install

      - name: Build Storybook
        run: |
          cd storybook
          npm install
          npm run build-storybook
          ls -la storybook-static || echo "Build output not found!"

      - uses: bitovi/github-actions-storybook-to-github-pages@v1.0.3
        with:
          install_command: echo "Already built"
          build_command: echo "Already built"
          path: storybook/storybook-static
          checkout: false
